<header>
  <nav>
    <div class="navbar-contain">
      <a href="#">
        <img class="b-logo" src="../../assets/discord-logo.jpg" alt="" />
      </a>

      <a href="#"> <p class="navbar__links">Descargar</p></a>
      <a href="#"> <p class="navbar__links">Nitro</p></a>
      <a href="#"> <p class="navbar__links">Descubrir</p></a>
      <a href="#"> <p class="navbar__links">Seguridad</p></a>
      <a href="#"> <p class="navbar__links">Soporte técnico</p></a>
      <a href="#"> <p class="navbar__links">Blog</p></a>
      <a href="#"> <p class="navbar__links"> Empleos</p></a>
      <app-cta-button-blue class="navbar__openapp"></app-cta-button-blue>
    </div>
    <div class="hero__container"></div>
    <img
      src="https://discord.com/assets/e6d57714479874c665b36c7adee76b1d.svg"
      alt=""
    />
    <img
      src="https://discord.com/assets/8a8375ab7908384e1fd6efe408284203.svg"
      alt=""
    />
    <img
      src="https://discord.com/assets/c40c84ca18d84633a9d86b4046a91437.svg"
      alt=""
    />
  </nav>
    <div class="hero-textand__btn">
        <h1 class="b__title">Imagina un lugar...</h1>
        <p class="b__text">... en el que puedas formar parte de un club escolar, un grupo de jugadores o una comunidad mundial de arte. En el que puedas pasar tiempo con unos cuantos amigos. Un lugar que haga que hablar a diario y divertirte más a menudo sea fácil.
      </p>

      <img class="hero-banner__left" src="../../assets/hero-header-img.jpg" alt="left-hero">
      <img class="hero-banner__right" src="../../assets/hero-right.jpg" alt="right-hero">
      <img class="hero-banner__center" src="../../assets/hero-center.jpg" alt="center-bottom-hero">
    </div>
    <div class="trash__container">
      <app-cta-button-blue class="go-app__btn"></app-cta-button-blue>
      <app-cta-button-white class="download__btn"></app-cta-button-white>
    </div>


</header>
