<footer>

  <section class="footer-list-father__container">

    <div class="footer__container">
      <h3 class="title__footer">IMAGINA UN LUGAR</h3>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </div>
      <div class="footer-list__container">
      <ul>
        <a href="#"> <li class="first-word__list">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
      </ul>


      <ul>
        <a href="#"><li class="first-word__list">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
      </ul>


      <ul>
        <a href="#"><li class="first-word__list">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
      </ul>


      <ul>
        <a href="#"><li class="first-word__list">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
        <a href="#"><li class="average-li__word">lorem</li></a>
      </ul>
    </div>
    </section>

  <section class="last-box__contain">
    <img class="logo-footer" src="../../assets/logo-footer.jpg" alt="">
    <app-cta-button-blue class="go-app_discord"></app-cta-button-blue>
  </section>
</footer>
