<!--SECTION -->


<section class="first-section__main">
  <img class="main-first__image" src="../../assets/main-first-image.jpg" alt="">
  <div class="first-main__container">
    <h1 class="first-main__title">Crea un lugar solo para miembros en el que encajes</h1>
    <p class="desc-first__paragraph">Los servidores de Discord se organizan en canales ordenados por temas donde puedes colaborar, compartir o simplemente hablar de tu día sin monopolizar un chat de grupo.</p>
  </div>
  </section>

  <section class="second-section__main">
    <div class="second-main__container">
      <h1 class="second-main__title">Donde es fácil pasar el rato</h1>
      <p class="desc-second__paragraph">Entra en un canal de voz cuando estés libre. Los amigos que tengas en tu servidor podrán ver que estás conectado y unirse al instante para hablar sin necesidad de llamar.</p>
    </div>
    <img class="main-second__image" src="../../assets/main-second-image.jpg" alt="">
    </section>
<!-- SECTION -->


    <section class="thirsd-section__main">
      <img class="main-thirsd__image" src="../../assets/main-thirsd-image.jpg" alt="">
      <div class="thirsd-main__container">
        <h1 class="thirsd-main__title">De unos pocos fans a un montón</h1>
        <p class="desc-thirsd__paragraph">Establece cualquier comunidad con las herramientas de moderación y el acceso personalizado de miembros. Concédeles poderes especiales, crea canales privados y mucho más.</p>
      </div>
      </section>

      <!-- SECTION -->

      <section class="fourth-section__main">
        <h1 class="fourth-main__title">UNA TECNOLOGÍA FIABLE PARA MANTENERSE EN CONTACTO</h1>
        <p class="desc-fourth__paragraph">Gracias a la voz y el vídeo de baja latencia, parece que estáis en la misma habitación. Saluda a la cámara, accede a las transmisiones de los juegos de tus amigos o reuníos y disfrutad de una sesión de dibujo compartiendo la pantalla.</p>
        <img class="main-fourth__image" src="../../assets/four-main-image.jpg" alt="">
        <div class="fourth-main__container">
        </div>

        <div class="prefooter__container">
          <h1 class="prefooter__title">¿Todo listo para comenzar tu viaje?</h1>
          <app-cta-button-black class="download-prefooter__btn"></app-cta-button-black>
        </div>
        </section>









